div{
    /* background-color: darkorchid; */
}

h1{
    margin: 0;
}

.formConatiner {
  width: 100%;
  height: auto;
  /* background-color: crimson; */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 40px;
  color: #3f51b5;
  font-weight: bold;
}

.formFull {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
}

.formHolder {
  /* background-color: rgb(165, 42, 42); */
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding-block: 35px;
}

.example-form {
  min-width: 100px;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.formSlots {
  width: 100%;
}

.btnHolder {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.formHolder2{
  /* background-color:aquamarine; */
  justify-content: space-evenly;
}

.resultContainer {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 5px grey;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
    margin: 10px;
  align-content: center;
  background-color: #c1c1c1;
}

.resultDivs {
  display: flex;
  background-color: #3f51b5;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 5px black;
}

.resultDivs p {
  font-size: 20px;
  color: white;
  margin: 0;
}
