div {
  background-color: whitesmoke;
}

h1 {
  margin: 20px;
  color: #3f51b5;
  font-weight: bold;
  font-size: 40px;
}

.shopNav {
  width: 100%;
  height: auto;
  background-color: #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shopNav button {
  padding: 5px;
  height: 80%;
}

.formDataContaniner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 73vh;
  max-height: max-content;
}

.formHolder {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-block: 35px;
  justify-content: space-evenly;
}

.resultContainer {
  width: 15%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 5px transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  align-content: center;
  background-color: #ffffff;
  position: relative;
  transition: 0.5s;
}

.resultDivs {
  display: flex;
  background-color: #6874b9;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 5px black;
  transition: 0.5s;
  max-height: auto;
}

.resultDivs p {
  font-size: 20px;
  color: white;
  margin: 0;
}

.eventCross {
  background-color: rgb(122, 122, 122);
  position: absolute;
  padding: 5px;
  font-size: 65px;
  transform: scale(0);
  display: flex;
  border-radius: 100px;
  color: white;
  top: -10px;
  right: -10px;
  transition: 0.7s;
  opacity: 0;
  cursor: pointer;
  /* box-shadow: 0 0 5px red; */
}

.eventCross:hover {
  background-color: #f44336;
  color: white;
  box-shadow: 0 0 5px red;
}

.eventCross:active {
  background-color: rgb(217, 217, 217);
  color: #f44336;
  box-shadow: 0 0 0px red;
  transition: 0.1s;
}

.resultContainer:hover .eventCross {
  transform: scale(1.1);
  transition: 0.2s;
  opacity: 1;
}

.resultContainer:hover {
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
  transition: 0.3s;
}

.resultContainer:hover .resultDivs {
  background-color: #3f51b5;
  transition: 0.5s;
}

.resultContainer h4 {
  margin: 0;
  width: 90%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

 p {
  margin: 0;
}

.iconStar {
  transform: scale(0.7);
  margin: 0;
  color: cadetblue;
}

.pointStar {
  display: flex;
  justify-content: center;
}

.rater {
  background-color: #f1f1f1cf;
  display: flex;
  justify-content: space-around;
  width: 35%;
  font-weight: 500;
  border-radius: 3px;
  position: absolute;
  bottom: 70px;
  left: 30px;
  padding-inline: 2px;
}

.apiPhoto {
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.heartContainer {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  color: black;
  transform: scale(0.9);
  background-color: transparent;
  transition: 0.3s;
}

.heartContainer:hover {
  color: red;
  transform: scale(1);
  transition: 0.3s;
}

.resultContainer:hover .heartContainer {
  opacity: 1;
}

.cartContainer {
  bottom: 43px;
  position: absolute;
  width: 100%;
  height: 53px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  user-select: none;
}

.cartDiv {
  width: 80%;
  height: 60%;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartDiv:hover {
  border: 1px solid rgb(0, 0, 0);
}

.cartDiv:active {
  background-color: rgb(209, 209, 209);
  transform: scale(0.99);
}

.resultContainer:hover .cartContainer {
  opacity: 1;
}

h3 {
  margin: 0 8px;
  font-weight: 500;
}

.favPage {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0;
  z-index: -1;
}

.favPage2 {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 25%;
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 0;
}

.favContainer {
  width: 30%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  background-color: white;
}

.favPhoto {
  width: 150px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 5px;
}

.favDetails {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

.favRemoveDiv {
  width: 80%;
  height: 20%;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favRemoveDiv:hover {
  border: 1px solid rgb(0, 0, 0);
}

.favRemoveDiv:active {
  background-color: rgb(209, 209, 209);
  transform: scale(0.99);
}
