<div class="formDataContaniner">
  <div class="shopNav">
    <button mat-stroked-button color="warn"><mat-icon fontIcon="remove_shopping_cart"></mat-icon> No kart</button>
    <h1>API Shop</h1>
    <button mat-raised-button color="primary"> <mat-icon fontIcon="shopping_cart"></mat-icon> Cart</button>
  </div>
  <div class="formHolder">
    <ng-container *ngFor="let item of productList; let i = index">
      <div class="resultContainer">
        <img src="{{ item.image }}" class="apiPhoto" alt="" />
        <h4>{{ item.title }}</h4>
        <p><strong>$:</strong>{{ item.price }}</p>
        <div class="rater">
          <div class="pointStar">
            <p>{{ item.rating.rate }}</p>
            <mat-icon class="iconStar" fontIcon="star"></mat-icon>
          </div>
          <p>|</p>
          <p>{{ item.rating.count }}</p>
        </div>
        <div class="heartContainer" (click)="favClick(i)">
          <mat-icon fontIcon="favorite_border"></mat-icon>
        </div>
        <!-- <button class="btn btn-secondary" (click)=addtocart(item)>Add to cart</button> -->
      </div>
    </ng-container>
  </div>
  <h3>More..</h3>
</div>
